.menu {
    background-color: cadetblue;
    overflow: hidden;
}

.menu a {
    float: right;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color Links in hover*/
.menu a:hover {
    background-color: antiquewhite;
    color: black;
}

/*Adding a color to the active/current link*/
.menu a.active {
    background-color: darkcyan;
    color: white;
}

footer {
    margin-top:500px;
}