header {
    font-family: "Tahoma";
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    word-spacing: normal;
    height: 50px;
}

div {
    background-color: #17072b;
    text-align: center;
    font-family: "Tahoma";
    font-size: 35px;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    word-spacing: 10px;
    background-size: 50px;
    object-position: left;
    line-height: 120px;
}

h2 {
    font-family: "Tahoma";
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 25px;
}

p {
    font-family: "Arial";
    font-size: 20px;
    white-space: initial;
    margin-left: 25px;
}

section {
    background-color: #172d67;
    float: right;
    object-position: right;
    width: 500px;
    height: 500px;
    color: white;
    font-family: "Arial";
}

footer {
    background-color: #8c15e9;
    width: auto;
    height: 50px;
    text-align: center;
    font-family: "Tahoma";
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
