div {
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    border: 4px solid black;
    line-height: 100px;
}

body {
    margin: 100px auto;
    width: max-content;
}

div#A {
    border-color: gold;
    box-shadow: 5px 5px 5px black;
}

div#B {
    border-color: pink;
    box-shadow: 5px 5px 5px black inset;
}

div#C {
    border-color: green;
    box-shadow: 5px 5px 1px black;
}

div#D {
    border-color: cornflowerblue;
    filter: drop-shadow(5px 5px 1px black);
}